@import "tailwindcss";

@font-face {
    font-family: hanken;
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}
@theme {
--color-lightRed: hsl(0, 100%, 67%);
--color-orangeyYellow: hsl(39, 100%, 56%);
--color-greenTeal: hsl(166, 100%, 37%);
--color-cobaltBlue: hsl(234, 85%, 45%);

--color-slateBlue: hsl(252, 100%, 67%);
--color-royalBlue: hsl(241, 81%, 54%);

--color-violetBlue: hsla(256, 72%, 46%, 1);
--color-persianBlue: hsla(241, 72%, 46%, 0);

--color-paleBlue: hsl(221, 100%, 96%);
--color-lavender: hsl(241, 100%, 89%);
--color-darkGray: hsl(224, 30%, 27%);

--font-hanken: "hanken";

}